html{
    background-color:whitesmoke;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
}
body{
    width: 100%;
    margin: 0 auto;
    background-color: #524582;
    padding: 0 20px 20px 20px;  
}
h1{
    margin: 0;
    padding: 20px 0;
    color:#8fe1a2;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px black;

}

img{
    display: block;
    width: 400px;
    height: 600px;

}

p{
    color:white;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav li{
  display: flex;
  float: left;
  background-color: #ff7b4d;
  margin: 10px 10px;
  padding: 8px;
  color: white;
}